.booking-details-modal {
  padding: 0 12px;

  .booking-details-modal-content {
    padding: 0;

    .booking-details-modal-field {
      width: 100%;
    }
  }

  .booking-details-modal-actions {
    padding: 0;
  }
}
